.loginbox1
{
    width: 100%;
    background-color:rgb(241, 228, 183) ;
    background-image: url("../images/frank-mckenna-Fg9l2rojs24-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    height:720px ;
    margin: 0;
    padding: 0;
     display: flex;
   justify-content: center;
   align-items: center;


}
#loginicon1
{
    width: 50px;
    text-align: center;
    
}
#wrapper1
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom:29px;
}
#form1 
{
    width: 300px;
    border:1px solid black;
    background-color:black;
    background: rgba(6, 15, 8, 0.8);
    padding-bottom: 150px;
}




form input[type="email"],input[type="password"]
{   text-align: center;
    border: none;
    border-bottom: 2px solid white;   
    width: 80%;
    margin: 15px;
    margin-top: 10px;
    background-color:inherit;
    color: white;
    
    
}

.k1,#l1
{
   color: white;
   display: flex;
   justify-content: center;
   

}

label{
    color: white;
   margin: 10%;
   
}
label:onclick
{
    border: none;
}


h1{
    font-size: 20px;
    text-align: center;
    color: white;
    opacity: 1;
}
form
{
    position: absolute;
    top: 20%;
    padding-bottom:120px ;
   
}
input[type="button"]
{
    position: absolute;
    bottom: 15%;
    
    background-color: rgb(238, 159, 159);
    padding: 9px;
    border: none;
    left: 25px;
    border-radius:15px ;
    width: 70%;
}
input[type="button"]:hover
{
    background-color:rgb(185, 29, 29)
}
.loginbox1 a,#sign1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 100;
    position: absolute;
    bottom: 10px;
}
#sign1
{
    bottom: 25%;
    margin: 10%;

}
input::placeholder
{
    text-align: left;
}
*
{
    margin: 0;
}
input[type="email"],input[type="text"]:focus
{   
    outline:none;
    background-color: inherit;
}